.championIcon{
    width:120px;
    height:120px;
    background-color:grey;
}

.championIconWrapper{
    display : inline-block;
    padding:6px;
}

.champSelect{
    background-color: #330019;
    min-height:2000px;
}

.players{
    float:left;
    padding:10px;
}

.availableChampions{
    display:inline-block;
    padding:10px;
}

.playerName{
    color:white;
    padding-left:25px;
}

.lockedIn {
    background-color:teal
}

.team{
    display:inline-block;
    padding:10px;
    margin:40px;
}

.team:nth-child(2){
    float:left;
    background-color:crimson;
}

.team:nth-child(1){
    float:right;
    background-color:dodgerblue;
}

.userInfo{
    padding-bottom:10px;
    border-bottom:2px double #330019;
}

.logout{
    display:inline;
    float:right;
}

.userName{
    display:inline;
}

.winButtonContainer{
    clear:both;
    margin:auto;
    width:fit-content;
    horiz-align: center;
}

.winButtonContainer Button{
    margin:10px;
    padding:10px;
}

.winnerTeam{
    display:inline-block;
    background-color:lightgreen;
}

.loserTeam{
    display:inline-block;
    background-color:lightcoral;
}

.matchHistoryElement .playerName{
    color:black !important;
}

.matchHistoryElement .playerSlot{
    display: inline-block;
}

.playerSlot{
    padding:5px;
}