.championIcon{
    width:120px;
    height:120px;
    background-color:grey;
}

.championIconWrapper{
    display : inline-block;
    padding:6px;
}

.champSelect{
    background-color: #330019;
    height:calc(100vh - 62px);
}

.champSelect button{
    padding-top: 16px;
}

.players{
    float:left;
    padding:10px;
}

.availableChampions{
    display:inline-block;
    padding:10px;
}

.playerName{
    color:white;
    padding-left:25px;
}

.lockedIn {
    background-color:teal
}

.team{
    display:inline-block;
    padding:10px;
    margin:40px;
    border-radius: 8px;
}

.team:nth-child(1){
    float:left;
    background-color:crimson;
}

.team:nth-child(2){
    float:right;
    background-color:dodgerblue;
}

.userInfo{
    padding-bottom:10px;
    border-bottom:2px double var(--bs-secondary-color);
    font-size:140%;
}

.logout{
    position:absolute;
    right:20px;
    display:inline;
    float:right;
}

.userName{
    display:inline;
    padding-right:8px;
}

.winButtonContainer{
    clear:both;
    margin:auto;
    width:fit-content;
    horiz-align: center;
}

.winButtonContainer Button{
    margin:10px;
    padding:10px;
}

.winnerTeam{
    display:inline-block;
    background-color:lightgreen;
}

.loserTeam{
    display:inline-block;
    background-color:lightcoral;
}

.matchHistoryEntry{
    margin:auto;
    width:fit-content;
    padding:2px;
}

.matchHistoryElement{
    border-radius: 15px;
}

.matchHistoryElement .playerName{
    color:black !important;
}

.matchHistoryElement .playerSlot{
    display: inline-block;
}

.playerSlot{
    padding:5px;
}

.userInfo a{
    text-decoration: none;
    color: var(--bs-body-color);
    font-weight: bold;
    margin:10px;
}

.leaderboardEntry a{
    text-decoration: none;
    color: var(--bs-body-color);
    font-weight:bold
}

.leaderboardEntry a:hover{
    color:var(--bs-secondary-color);
}

.userInfo a:hover{
    color:var(--bs-secondary-color);
}

.pageNavigation button{
    margin:1px;
}

.pageNavigation{
    margin:auto;
    width:fit-content;
    position:fixed;
    bottom: 8px;
    left:0px;
    right:0px;
}

.matchHistory{
    padding-bottom:50px;
}

.selectionActions{
    display:inline-block;
}

.defaultPadding{
    padding:10px;
}
.defaultMargin{
    margin:10px;
}

.confirmButton{
    padding-left:16px;
}

.borderRadius{
    border-radius: 8px;
}

.contentFit{
    width:fit-content;
}

.horiz{
    margin:auto !important;
    width:fit-content !important;
}

.playerList{
    min-width: 300px;
}

.unselectable{
    user-select: none;
}

.filterslot{
    display:inline;
    width:27px;
    height:27px;
}

.login{
    padding:32px;
    font-size:140%;
}

.margin-top{
    margin-top:10px;
}

.shrink{
    width:fit-content !important;
}